.choresText {
   color: pink;
   font-family: Arial;
   font-size: 1.3vw;
   font-style: italic;
   text-align: left;
}

.choresHeading {
   text-align: left;
   color: yellowgreen;
   text-decoration: underline;
   font-size: 1.3vw;

}